<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<style>
			body {
				padding: 50px;
				font: 14px sans-serif;
			}
			a {
				color: #00B7FF;
			}
		</style>
	</head>
	<body>
		{{#if flash}}
			{{flash}}
		{{/if}}
		{{{body}}}
	</body>
</html>
