@charset "UTF-8";

//
// Styles for rendered markdown in the .main-content container
//
// stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type

.page-content {
  a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ul,
  ol {
    padding-left: 1.5em;
  }

  ol {
    counter-reset: step-counter;
    list-style-type: none;

    > li {
      position: relative;

      &::before {
        @include fs-3;
        color: $grey-dk-000;
        content: counter(step-counter);
        counter-increment: step-counter;
        left: -1.6em;
        position: absolute;
        top: 0.2em;

        @include mq(sm) {
          top: 0.11em;
        }
      }

      ol {
        counter-reset: sub-counter;

        li {
          &::before {
            content: counter(sub-counter, lower-alpha);
            counter-increment: sub-counter;
          }
        }
      }
    }
  }

  ul {
    list-style: none;

    > li {
      &::before {
        color: $grey-dk-000;
        content: '•';
        margin-left: -1.4em;
        position: absolute;
      }
    }
  }

  .task-list {
    padding-left: 0;
  }

  .task-list-item {
    align-items: center;
    display: flex;

    &::before {
      content: '';
    }
  }

  .task-list-item-checkbox {
    margin-right: 0.6em;
  }

  hr + * {
    margin-top: 0;
  }

  h1:first-of-type {
    margin-top: 0.5em;
  }

  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  dt,
  dd {
    margin: 0.25em 0;
  }

  dt {
    text-align: right;

    &::after {
      content: ':';
    }
  }

  dd {
    font-weight: 500;
    margin-left: 1em;
  }
}
