//
// The basic two column layout
//

.page-wrap {
  @include mq(md) {
    display: flex;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.side-bar {
  background-color: $sidebar-color;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: $gutter-spacing-sm;
  padding-top: $gutter-spacing-sm;
  z-index: 100;

  @include mq(md) {
    align-items: flex-end;
    border-right: $border $border-color;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    padding-bottom: 0;
    padding-top: $gutter-spacing * 2;
    position: absolute;
    width: $nav-width + 16px;
  }

  @include mq(lg) {
    min-width: $nav-width;
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
  }
}

.main-content-wrap {
  @include mq(md) {
    height: 100%;
    left: 0;
    min-height: 600px;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.main-content {
  @include container;
  padding-top: $gutter-spacing-sm;

  @include mq(md) {
    margin-left: $nav-width;
    max-width: $content-width;
    padding-left: $gutter-spacing * 1.5;
    position: relative;
  }

  @include mq(lg) {
    margin-left: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    padding-left: $gutter-spacing;
  }
}

.js-main-content:focus {
  outline: none;
}

.page-header {
  background-color: $sidebar-color;

  @include mq(md) {
    background-color: $body-background-color;
  }

  .main-content {
    padding-top: 0;

    @include mq(md) {
      border-bottom: $border $border-color;
      display: flex;
      height: 60px;
      justify-content: flex-end;
      padding-bottom: $sp-4;
      padding-top: $sp-4;
    }
  }
}

.nav,
.site-title {

  @include container;

  width: 100%;

  @include mq(lg) {
    width: $nav-width + 32px;
  }
}

.nav {
  @include mq(md) {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-top: $sp-8;
  }
}
