//
// Main nav, breadcrumb, etc...
//

.site-title {
  background-color: $sidebar-color;
  color: $body-heading-color;
  display: block;
  flex: 1 1 auto;

  @include mq(md) {
    border-bottom: $border $border-color;
    height: 60px;
    padding-top: $sp-4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 101;
  }
}

.nav-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: $sp-4;
  padding: 0;

  @include mq(md) {
    margin-top: 0;
  }
}

.nav-list-child-list {
  list-style: none;
  padding-left: $sp-3;

  .nav-list-link {
    color: $nav-child-link-color;
  }

  .nav-list-item {
    position: relative;

    &::before {
      color: rgba($body-text-color, 0.3);
      content: '- ';
      margin-left: -0.8em;
      margin-top: 0.3em;
      position: absolute;
    }

    &.active {
      &::before {
        color: $body-text-color;
      }
    }
  }
}

.nav-list-item {
  @include fs-4;
  margin: 0;

  @include mq(md) {
    @include fs-3;
  }

  .nav-list-child-list {
    display: none;
  }

  &.active {
    .nav-list-child-list {
      display: block;
    }
  }
}

.nav-list-link {
  display: block;
  padding-bottom: $sp-1;
  padding-top: $sp-1;

  &.active {
    color: $body-heading-color;
    font-weight: 600;
    text-decoration: none;
  }
}

// Small screen nav

.main-nav,
.aux-nav {
  display: none;
  @include mq(md) {
    display: block;
  }

  &.nav-open {
    display: block;
  }
}

.nav-list-toggle {
  position: absolute;
  right: $sp-4;

  @include mq(md) {
    display: none !important;
  }
}

// Breadcrumb nav
.breadcrumb-nav {
  @include mq(md) {
    margin-top: -$sp-4;
  }
}

.breadcrumb-nav-list {
  list-style: none;
  margin-bottom: $sp-3;
  padding-left: 0;
}

.breadcrumb-nav-list-item {
  @include fs-2;
  display: table-cell;

  &::before {
    display: none;
  }

  &::after {
    color: $grey-dk-000;
    content: '/';
    display: inline-block;
    margin-left: $sp-2;
    margin-right: $sp-2;
  }

  &:last-child {
    &::after {
      content: '';
    }
  }
}
